<ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
  <li><a>Abdominal Pain</a></li>
  <li><a>Anal Warts</a></li>
  <li><a>Barrett's Esophagus</a></li>
  <li><a>Celiac Disease</a></li>
  <li><a>Colon Cancer / Polyps</a></li>
  <li><a>Constipation</a></li>
  <li><a>Crohn's Disease</a></li>
  <li><a>Diarrhea</a></li>
  <li><a>Difficulty Swallowing</a></li>
  <li><a>Diverticular Disease</a></li>
  <li><a>Eosinophilic Esophagitis</a></li>
  <li><a>GERD, Acid Reflux & Heartburn</a></li>
  <li><a>Gas & Bloating</a></li>
  <li><a>Gastritis</a></li>
  <li><a>H. Pylori</a></li>
  <li><a>Hemorrhoids</a></li>
  <li><a>Hepatitis</a></li>
  <li><a>Hiatal Hernia</a></li>
  <li><a>Inflammatory Bowel Disease</a></li>
  <li><a>Irritable Bowel Syndrome</a></li>
  <li><a>Lactose Intolerance</a></li>
  <li><a>NAFLD</a></li>
  <li><a>Pancreatitis</a></li>
  <li><a>Peptic Ulcers</a></li>
  <li><a>Rectal Bleeding</a></li>
  <li><a>Ulcerative Colitis</a></li>
</ul>
