<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <div class="w-32 overflow-hidden rounded-xl">
      <img src="img/profile.jpg" alt="Dr. Jack Husney, MD" />
    </div>
    <p class="pt-3">Dr. Jack Husney, MD<br>Gastroenterologist, Internist</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Hours</span>
    <div class="text-slate-600">
      <table class="table table-auto">
        <tbody>
          <tr><td>Monday–Thursday</td><td>9AM–5PM</td></tr>
          <tr><td>Friday</td><td>9AM–4PM</td></tr>
          <tr><td>Saturday</td><td>Closed</td></tr>
          <tr><td>Sunday</td><td>10AM–2PM</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <span class="footer-title">Contact</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>
