<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <div class="w-32 overflow-hidden rounded-xl">
      <img src="../img/profile.jpg" alt="Dr. Jack Husney, MD" />
    </div>

    <p class="pt-3">Dr. Jack Husney, MD<br>Gastroenterologist, Internist</p>
  </div>

  <div>
    <span class="footer-title">Hours</span>
    <include src="components/hours.html"></include>
  </div>

  <div>
    <span class="footer-title">Contact</span>
    <a href="tel:+17188725270" class="link link-primary">(718) 872-5270</a>
    <address class="link link-hover">
      <a
        href="https://www.google.com/maps/dir/?api=1&destination=2118%20Coney%20Island%20Ave,%20Brooklyn%20NY,%2011223"
        alt="Get Directions"
        target="_blank">
          <p class="pt-2">2118 Coney Island Avenue</p>
          <p class="pt-2">Brooklyn, NY 11223</p>
      </a>
    </address>
  </div>
</footer>
