<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">

        <li><a href="/">Home</a></li>
        <li><a href="./about.html">About</a></li>

        <li tabindex="0">
          <a class="justify-between" href="/conditions/">
            Conditions
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>

          <ul class="p-2">
            <li><a href="./conditions/abdominal-pain.html">Abdominal Pain</a></li>
            <li><a href="./conditions/acid-reflux.html">Acid Reflux</a></li>
            <li><a href="./conditions/barretts-esophagus.html">Barrett's Esophagus</a></li>
            <li><a href="./conditions/blood-in-stool.html">Blood in Stool</a></li>
            <li><a href="./conditions/celiac.html">Celiac Disease and Gluten Sensitivity</a></li>
            <li><a href="./conditions/colon-cancer.html">Colon Cancer</a></li>
            <li><a href="./conditions/colon-polyps.html">Colon Polyps</a></li>
            <li><a href="./conditions/constipation.html">Constipation</a></li>
            <li><a href="./conditions/diarrhea.html">Diarrhea</a></li>
            <li><a href="./conditions/diverticular.html">Diverticulosis</a></li>
            <li><a href="./conditions/dysphagia.html">Dysphagia</a></li>
            <li><a href="./conditions/dyspepsia.html">Functional Dyspepsia</a></li>
            <li><a href="./conditions/eoe.html">Eosinophilic Esophagitis (EoE)</a></li>
            <li><a href="./conditions/gas.html">Gas and Bloating</a></li>
            <li><a href="./conditions/gastroparesis.html">Gastroparesis</a></li>
            <li><a href="./conditions/hemorrhoids.html">Hemorrhoids</a></li>
            <li><a href="./conditions/hiatal.html">Hiatal Hernia</a></li>
            <li><a href="./conditions/ibd.html">Inflammatory Bowel Diseases</a></li>
            <li><a href="./conditions/ibs.html">Irritable Bowel Syndrome</a></li>
            <li><a href="./conditions/lactose.html">Lactose Intolerance</a></li>
            <li><a href="./conditions/sibo.html">Small Intestine Bacterial Overgrowth (SIBO)</a></li>
            <li><a href="./conditions/sucrose.html">Sucrose Intolerance</a></li>
            <li><a href="./conditions/ulcers.html">Stomach and Intestine Ulcers</a></li>
            <li><a href="./conditions/hep.html">Viral Hepatitis</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <a href="/" class="btn btn-ghost normal-case text-xl">
      <div class="w-14 rounded-full">
        <img src="img/logo-dark.png" class="h-10 w-10" alt="Dr. Jack Husney, MD Logo" />
      </div>
      Husney Medical
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/">Home</a></li>
      <li><a href="./about.html">About</a></li>

      <li tabindex="0">
        <a class="justify-between" href="/conditions/">
          Conditions
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>

        <ul class="p-2 bg-base-100 z-20">
            <li><a href="./conditions/abdominal-pain.html">Abdominal Pain</a></li>
            <li><a href="./conditions/acid-reflux.html">Acid Reflux</a></li>
            <li><a href="./conditions/barretts-esophagus.html">Barrett's Esophagus</a></li>
            <li><a href="./conditions/blood-in-stool.html">Blood in Stool</a></li>
            <li><a href="./conditions/celiac.html">Celiac Disease and Gluten Sensitivity</a></li>
            <li><a href="./conditions/colon-cancer.html">Colon Cancer</a></li>
            <li><a href="./conditions/colon-polyps.html">Colon Polyps</a></li>
            <li><a href="./conditions/constipation.html">Constipation</a></li>
            <li><a href="./conditions/diarrhea.html">Diarrhea</a></li>
            <li><a href="./conditions/diverticular.html">Diverticulosis</a></li>
            <li><a href="./conditions/dysphagia.html">Dysphagia</a></li>
            <li><a href="./conditions/dyspepsia.html">Functional Dyspepsia</a></li>
            <li><a href="./conditions/eoe.html">Eosinophilic Esophagitis (EoE)</a></li>
            <li><a href="./conditions/gas.html">Gas and Bloating</a></li>
            <li><a href="./conditions/gastroparesis.html">Gastroparesis</a></li>
            <li><a href="./conditions/hemorrhoids.html">Hemorrhoids</a></li>
            <li><a href="./conditions/hiatal.html">Hiatal Hernia</a></li>
            <li><a href="./conditions/ibd.html">Inflammatory Bowel Diseases</a></li>
            <li><a href="./conditions/ibs.html">Irritable Bowel Syndrome</a></li>
            <li><a href="./conditions/lactose.html">Lactose Intolerance</a></li>
            <li><a href="./conditions/sibo.html">Small Intestine Bacterial Overgrowth (SIBO)</a></li>
            <li><a href="./conditions/sucrose.html">Sucrose Intolerance</a></li>
            <li><a href="./conditions/ulcers.html">Stomach and Intestine Ulcers</a></li>
            <li><a href="./conditions/hep.html">Viral Hepatitis</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <a href="tel:+17188725270" class="btn btn-secondary">Call (718) 872-5270</a>
  </div>
</div>
