---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Jack Husney, MD</h1>
            <span class="subheading">
              Board certified Gastroenterologist, Hepatologist (Liver Diseases) and Weight Loss Specialist
            </span>
            <span class="subheading">Serving New York City and beyond</span>

            <a class="btn btn-primary mt-3" href="tel:+17188725270" role="button">Call Us</a>

            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target=".book-modal">Schedule an Appointment</button>

            <div class="modal fade book-modal" tabindex="-1" role="dialog" aria-labelledby="book-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <h4 id="book-label" class="modal-title">Schedule an Appointment</h4>
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKih5TjN2VsLCqEoucPAAsFbYMc2YsMx8X0ViDMHSsBkUTHg/viewform?embedded=true" width="640" height="1155" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  </header>

  <div class="container text-center pb-3">
    <div class="row align-items-center">
      <div class="col"><img src="/img/affiliates/nypd.png" alt="NYPD" class="p-4 img-fluid w-50"></div>
      <div class="col"><img src="/img/affiliates/acg.svg" alt="ACG" class="p-4 img-fluid w-50"></div>
      <div class="col"><img src="/img/affiliates/mount-sinai.png" alt="Mount Sinai" class="img-fluid w-50"></div>

      <div class="w-100"></div>

      <div class="col"><img src="/img/affiliates/superdoctors.png" alt="Super Doctors" class="img-fluid w-50"></div>
      <div class="col"><img src="/img/affiliates/abim.svg" alt="ABIM" class="img-fluid w-50"></div>
      <div class="col"><img src="/img/affiliates/aga.jpg" alt="AGA" class="img-fluid w-50"></div>
    </div>
  </div>

  <div class="container text-center pb-5">
    <h4 class="pb-2">Reviews</h4>
    <div id="reviews" class="carousel slide" data-ride="carousel">
      <div class="row">
        <div class="col-2">
          <a class="carousel-control-prev btn-secondary" href="#reviews" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>

        <div class="carousel-inner col-8">
          <div class="carousel-item active">
            <p>
              I found Dr. Husney while doing a thorough Google search for the right Gastroenterologist.
              I had already seen two and felt I wasn't getting anywhere.
              I did one more search and put my faith into Dr. Husney.
              Just from the first visit, I felt strongly that I was in good hands.
              Dr. Husney is absolutely kind, compassionate, informative, professional, knowledgeable, and assertive about his plans to get you well.
              When you visit a doctor and they speak with conviction, that's the quality of a strong, highly knowledgeable ,successful and a compassionate doctor.
              Dr. Husney will look at you in the eye, learn and assess your case and conclude your visit with kind words and assurance.
              I live in Fresh Meadows, Queens, and I am willing to commute far to see a doctor as amazing as Dr. Husney.
              I strongly urge the people of NYC with gastric concerns to come see Dr. Husney. I am so grateful :)
            </p>
            <h5>S. M. – ⭐⭐⭐⭐⭐</h5>
          </div>
          <div class="carousel-item">
            <p>
              I started seeing Dr. Jack Husney at the hospital in Brooklyn.
              I was in terrible pain and he was very comforting and knowledgeable and had a plan for me.
              After I left the hospital I continue seeing him in the office several times.
              He has excellent bedside manners very patient and caring.
              I also like his office staff who is very nice and friendly which is very comforting when you’re not feeling well.
            </p>
            <h5>C. W. – ⭐⭐⭐⭐⭐</h5>
          </div>
          <div class="carousel-item">
            <p>
              I'm a new patient with Dr. Jack and I can say truly he's very kind, knowledgeable, extremely helpful and knows how to treat his patients with gentle care.
              I'm very pleased with him as my gastroenterologist.
              I love the office environment, they are very pleasant.
              Thank you Dr. Jack, I really appreciate you and I'll see you in 2 months.
            </p>
            <h5>C. R. – ⭐⭐⭐⭐⭐</h5>
          </div>
          <div class="carousel-item">
            <p>
              Very professional, will answer all concerns, will check up on patients, set your mind to ease, guide you through your sugury.
              A doctor who is for the patients well- being.
              The first doctor who took my issue serious and found the problem.
              He was the 4th doctor.
              He listens and have a conversation with his patients.
            </p>
            <h5>i. m. – ⭐⭐⭐⭐⭐</h5>
          </div>
          <div class="carousel-item">
            <p>
              This place is very welcoming not a long wait at all to see the doctor.
              Each visit was such a breeze they explained everything precisely I have no complaints just applause thank you for your services!!
            </p>
            <h5>A. C. – ⭐⭐⭐⭐⭐</h5>
          </div>
          <div class="carousel-item">
            <p>
              I am very pleased with Dr Husney care and consern for his patients.
              I felt heard & cared for while i was beeing treated by Dr Husney.
              Would refer him to friends & family
            </p>
            <h5>D. A. – ⭐⭐⭐⭐⭐</h5>
          </div>
        </div>

        <div class="col-2">
          <a class="carousel-control-next btn-secondary" href="#reviews" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
